.DetailBox{
    width:'100%';
    height:350px;
    margin-left: 3.3rem;
    background: rgba(110, 108, 108, 0.418);
    margin-right: 3.3rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    align-content: center;
    z-index: -1;
  }

.MovieImage{
    height:250px;
    width:180px;
    border-radius: 5px;
}
.MovieImage:hover{
    height:252px;
    width:182px;
    opacity: 0.3;
}
.DetailsOnMovie{
    display: flex;
    flex-direction: column;
}
.MovieNameNYear{
    display: flex;
    flex-direction:column;
    align-items:start;
    justify-items:start;
}
.MovieName{
    color:rgb(176, 176, 176);
    font-size:30px ;
    font-weight:bold;
    margin-right: 0.8rem;
}

.Year{
    color:rgba(176, 176, 176, 0.65);
    font-size:30px;
    font-weight: normal;
    
}
.Vote{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Vote h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}
h4 {
    margin: 0;
}

.MovieDetails {
    display: none;
    position: absolute;
    padding: 0.5rem;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    font-weight: normal;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.MovieTitle:hover .MovieDetails {
    display: block;
}
.MovieTitle {
    background: rgba(0, 0, 0, 0.9);
    padding: 0.2rem;
    transform: scale(1);
}
.Rating{
    height:5px;
    width:100%;
}
.Skeleton{
    align-content: space-between;
    justify-content: space-between ;
}
.Overview:hover{
    color:white,
}
.MovieImgone{
    height:180px;
    width:130px;
    border-radius: 2px;
    border: 1px solid  rgba(93, 92, 92, 0.479); 
    background: rgba(93, 92, 92, 0.479);
    background-color: rgba(93, 92, 92, 0.479);
   
}
.MovieImgone:hover{
    height:181px;
    width:131px;
    opacity: 0.4;
}
.clamp-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.others{
    background: rgba(0, 0, 0, 0.727);
    overflow-x: scroll;
    margin-left: 1.4rem;
    margin-right: 1.8rem;
    z-index: -1;
  }
.vids{
    background: linear-gradient(to bottom,rgb(49, 1, 1),black);
    overflow-x: scroll;
    margin-left: 1.4rem;
    padding-top: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
@media screen and (max-width: 768px ){
   .MovieImage{
    display:none !important;
   }
    .Descriptions{
       display: flex;
       flex-direction: column !important;
    }
    .DescriptionBox{
        display: flex;
        flex-direction: column !important;
        padding-bottom:3rem;
     }
     Button{
        height:30px;
        font-size: 9px !important;
        font-weight:bold;
        width:130px;
     }
   
}