.MovieImg{
    height:205px;
    width:200px;
    border-radius: 5px;
    color:rgba(118, 117, 117, 0.631);
    /* border: 1px solid  rgba(93, 92, 92, 0.479); 
    background: rgba(93, 92, 92, 0.479);
    background-color: rgba(93, 92, 92, 0.479); */
   
}
.MovieImg:hover{
    height:201px;
    width:201px;
    opacity: 0.4;
}
.Select:enabled, .Select:focus{
    outline: none;
    border:none;
    
}
.Chip:hover{
  color:rgba(0, 255, 0, 0.934);
  height:31px;
  border: 1px solid rgba(0, 255, 0, 0.934);

}

h2{ 
    margin-bottom: 1rem;
   
}
h2:hover{
    color:red;
    font-weight: bold;
}
.GridBox{
    /* padding-bottom: 20rem; */
    /* background: linear-gradient(to left,#320000,#550808); */
}
.GridBox:hover{
    /* background: linear-gradient(to bottom,#3b0404,#630909);
    border-radius: 10px; */
}
.MovieTitle{
    background: rgba(0, 0, 0, 0.9);
    padding: 0.2rem;
    transform: scale(1);
    border-radius: 5px;
}
.MovieTitle:hover{
    opacity: 0.7;
    transform: scale(1.08);
    transition: transform 0.3s ease-in-out;
}
input{
    margin-bottom: 2rem;
    border:none;
    outline:none;
    font-size: 15px;
    width:100%;
    height:50px;
    border-radius: 5px;
    padding-left: 1.5rem;
    color:rgb(160, 158, 158);
}
input:hover{
    border:none;
    outline:none;
    opacity:0.8;
    border: 1px solid rgb(50, 49, 49);
}

.TodayThisWeek{
    font-size: 15px;
    padding: 0.7rem;
    font-family: monospace;
    font-weight: 500;
    border:none;
    background:transparent;

}
.TodayThisWeek:hover{
    font-size: 17px;
    
}
.TodayThisWeek:focus,.TodayThisWeek:enabled{
    border:none;
    outline: none;
    border-radius: 0;
}

.TimeWindow{
    border:1.5px solid rgb(69, 7, 7);
}

.TimeWindow:hover{
    border:2px solid rgb(0, 0, 0);
}
@media screen and (max-width: 768px){
    .Overview{
        display:none;
    }
    .TimeWindow{
        height:20px;
        font-size:9px;
        width:100px;
        
    }
    .TodayThisWeek{
        font-size: 10px;
        padding: 0.2rem;
        font-family: monospace;
        font-weight: 400;
        border:none;
        background:transparent;
    }
    .formforsearch{
        padding-right:1rem;
        width: 210px;
        height: 4opx;
        font-size:12px;
    }
    
}