
.LinkNames{    
    color:rgb(83, 81, 81);
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
}
.LinkNames:hover{
    color:red;
    font-size: 19px;
}
.Netflix{
    color:red;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: widest;
    font-family: monospace;
}
.Netflix:hover{
    font-size: 32px;
}
.LinkNames img{
    margin-top: 0.5rem;
    height:25px;
    width:25px;}
.LinkNames img:hover{
    height:26px;
    width:26px;
}


@media screen and (max-width: 768px){
    .NavComponent{
        display: none !important;
    }
    h3{
        font-size: 18px;
    }
    
}
@media screen and (max-width: 376px){
    .Netflix{
        font-size:20px;
    }
    .Trending{
        font-size: 18px;
    }
    h3{
        font-size: 12px;
    }
}